<a
    data-id="{{code}}"
    href="javascript:void(0);"
    class="category_btn active list-group-item list-group-item-action d-flex justify-content-between align-items-center"
    data-count=""
>
    <strong>{{title}}</strong>
    <span class="badge bg-natura rounded-pill"></span>
</a>